<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDERS</title>
</head>
{%load static%}
<link rel="stylesheet" href="{% static 'css/bookOrder.css' %}">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<body>

    <!-- NAVBAR Starts Here -->
    <nav class="navbar">
        <div class="logo">
            <h2>MaxKart</h2>
            <h1>M.K</h1>
        </div>
        <a href="/#home">Back to Home</a>
        <a href="/#service">Add more Services</a>

        <button onclick="window.location.href='/order'">MY CART</button>
    </nav>
    <!-- Navbar Ends Here -->
    <h1>Confirm Your Details</h1>
    <!-- CONTENT SECTION Starts -->
    <div class="contentbx">
        <div class="formbx">
            <form action="">

                <div class="inputbx">
                    <span>Full Name</span>
                    <input type="text" required value="{{name}}">
                </div>

                <div class="inputbx">
                    <span>Contact Number</span>
                    <input type="number" required value="{{phone}}">
                </div>

                <div class="inputbx">
                    <span>Email</span>
                    <input type="email" required value="{{email}}">
                </div>

                <div class="inputbx">
                    <span>Pincode</span>
                    <input type="number" required value="{{pincode}}">
                </div>

                <div class="inputbx">
                    <span>City</span>
                    <input type="text" required value="{{city}}">
                </div>

                <div class="inputbx">
                    <span>State</span>
                    <input type="text" required value="{{state}}">
                </div>

                <div class="inputbx">
                    <span>Address</span>
                    <input type="text" required value="{{address}}">
                </div>





                <!-- <div class="remember">
                    <label for="a"><input type="checkbox" name="" id="a" value="">  Remember Me</label>
                </div> -->


                <!-- <div class="inputbx">
                    <p>Don't have an account? <a href="#">Sign Up</a></p>
                </div> -->


            </form>
        </div>

        <div class="finalsummary">
            <h2>Appointment Summaries</h2>
            <hr style="position: relative;width: 100%;bottom: 15%;">
            <p>Total no.of Services: &nbsp;&nbsp; {{number}}</p>
            <p>Total Amount:&nbsp;&nbsp;₹ {{tprice}}</p>
            <button onclick="confirmorder()">Book your Appointments</button>
        </div>


    </div>

    <!-- CONTENT SECTION Ends -->




    <script>

        function confirmorder(){
            swal({
            title: "Appointments Booked",
            text: "Your service appointments are booked. Our experts willl soon reach your home.",
            icon: "success",
            button: "Thanks :)",
        }).then((value) => {
            window.location.replace("http://localhost:8000/");
        });
        }

    </script>
</body>

</html>