<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDERS</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<body>

    <!-- NAVBAR Starts Here -->
    <nav class="navbar">
        <div onclick="window.location.href= '/'" class="logo">
            <h2>MaxKart</h2>
            <h1>M.K</h1>
        </div>
        <a href="/#home">Back to Home</a>
        <a href="/#service">Add more Services</a>

        <button>BOOK</button>
    </nav>
    <!-- Navbar Ends Here -->
    <div class="finalsummary">
        <h2>Appointment Summaries</h2>
        <hr style="
    position: relative;
    width: 100%;
    bottom: 15%;
">
        <p>Total no.of Services: &nbsp;&nbsp; {{no_of_orders}}</p>
        <p>Total Amount:&nbsp;&nbsp; ₹ {{tprice}}</p>
        <button>Book your Appointments</button>
    </div>

    <div class="container">
        <table class="styled-table">
            <thead style="position: sticky;">
                <tr>
                    <th>Sr.No</th>
                    <th>Service</th>
                    <th>Type</th>
                    <th class="pr">Price</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for order in allorders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{order.service}}</td>
                    <td>{{order.type}}</td>
                    <td>Rs. {{order.price}}</td>
                    <td><button onclick="deleterow(this.id)" class="delete" id="{{order.id}}">X</button></td>
                </tr>

                {% endfor %}

                <!-- and so on... -->
            </tbody>
        </table>
    </div>

    <div class="text">
        <h3>Total Amount</h3>
        <p>Rs. {{tprice}}</p>
    </div>



    <script>
        let box = document.querySelector('.styled-table');
        let width = box.offsetWidth;
        let price = document.querySelector('.pr');
        let w = price.offsetWidth;



        let heading = document.querySelector('.text h3');
        heading.style.width = width - w + "px";
        let tprice = document.querySelector('.text p');
        tprice.style.width = w + 6 + "px";

        let topX = document.querySelector('.styled-table').getBoundingClientRect().top;
        let fsum = document.querySelector('.finalsummary');
        fsum.style.top = topX + 'px';

        async function deleterow(e) {

            await swal({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((value) => {

                if (value == true) {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) //Here we need to check OK response and last state of ajax call.
                        {
                            // console.log(e) ;
                            window.location.href = '/order'
                            // window.location.reload() // To refresh page.    
                        }
                    };
                    xhttp.open("GET", "/deleterow?orderid=" + e, true);
                    xhttp.send();
                }
            });
            // .then((willDelete) => {
            //     if (willDelete) {
            //         swal("Poof! Your imaginary file has been deleted!", {
            //             icon: "success",
            //         });
            //     } else {
            //         swal("Your imaginary file is safe!");
            //     }
            // });





        }








    </script>
</body>

</html>