<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEST CASE</h1>
    <form action="/order" method = "GET">
        {% csrf_token %}
        <label for="id">Price: </label>
        <input type="number" name="price" id="">        
        <label for="cname">Type: </label>
        <input type="text" name="type" id="">
        <button type="submit">Submit</button>

    </form>
</body>
</html>